sudo: required
language: generic
services:
  - docker

before_install:
  - docker build -t davidarrebola/docker-react -f Dockerfile.dev .

script:
  - docker run -e CI=true davidarrebola/docker-react npm run test

deploy:
  provider: elasticbeanstalk
  region: "ap-southeast-2"
  app: "docker-react"
  env: "Dockerreact-env"
  bucket_name: "elasticbeanstalk-ap-southeast-2-833016074003"
  bucket_path: "docker-react"
  on:
    branch: master
